@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,800,900&display=swap');
*{
        margin:0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
body{
    min-height: 100vh;
    /* overflow-x: hidden; */
    background: linear-gradient(#2b1055, #7597de);
 }
 header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
 }
 header .logo{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
 }
 header ul{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 header ul li{
    list-style-type: none;
    margin-left: 20px;
 }
 header ul li a{
    text-decoration: none;
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
 }
 header ul li a:hover,
 header ul li a.active{
    background: #fff;
    color: #2b1055;
 }

 section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 }
 section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 1000;
 }
 section img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events: none;
 }
 section img#moon{
    mix-blend-mode: screen;
 }
 section img#mountains_front{
    z-index: 10;
 }
 #text-h2{
    right: -350px;
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
 }
 #btn{
    transform: translateY(100px);
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    border-radius: 40px;
    font-size: 1.5em;
    color: #2b1055;
    z-index: 9;
 }
 input[type=text], input[type=password], input[type=date], input[type=number]{
   width: 100%;
   height: 50px;
   padding: 12px 20px;
   margin: 8px 0;
   font-size: 18px;
   display: inline-block;
   box-sizing: border-box;
   background: #ebf5fc;
             border: none;
             outline: none;
             border-radius: 40px;
   box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 1),
             inset 2px 2px 6px rgba(0, 0, 0, 0.1);
 }
 
 /* Set a style for all buttons */
 button {
   color: #32a3b1;
   border-radius: 40px;
   font-size: 18px;
   background: #ebf5fc;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   box-shadow: -2px -2px 6px rgba(255, 255, 255, 1),
             2px 2px 6px rgba(0, 0, 0, 0.1);
 }
 button:active{
   color: #006c9c;
   background: #ebf5fc;
             box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 1),
             inset 2px 2px 6px rgba(0, 0, 0, 0.1);
 }
 
 /* button:hover {
   opacity: 0.8;
 } */
 
 /* Extra styles for the cancel button */
 .cancelbtn {
   color:#fff;
   width: auto;
   padding: 10px 18px;
   background-color: red;
 }
 
 /* Center the image and position the close button */
 .imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
   position: relative;
 }
 
 img.avatar {
   width: 40%;
   border-radius: 50%;
 }
 
 .container {
   padding: 16px;
 }
 .container label{
   font-size: 18px;
 }
 
 span.psw {
   float: right;
   padding-top: 16px;
 }
 
 /* The Modal (background) */
 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 10000; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
 }
 
 /* Modal Content/Box */
 .modal-content {
   background: #ebf5fc;
   border-radius: 10px;        
             box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8),
             5px 5px 10px rgba(0, 0, 0, 0.1);
   margin: 5% auto 15% auto; 
   width: 80%; 
 }
 
 /* The Close Button (x) */
 .close {
   position: absolute;
   right: 25px;
   top: 0;
   color: #000;
   font-size: 35px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: red;
   cursor: pointer;
 }
 .psw a{
   text-decoration: none;
   color: #ff0047;
 }
 
 /* Add Zoom Animation */
 .animate {
   -webkit-animation: animatezoom 0.6s;
   animation: animatezoom 0.6s
 }
 
 @-webkit-keyframes animatezoom {
   from {-webkit-transform: scale(0)} 
   to {-webkit-transform: scale(1)}
 }
   
 @keyframes animatezoom {
   from {transform: scale(0)} 
   to {transform: scale(1)}
 }
 
 /* Change styles for span and cancel button on extra small screens */
 @media screen and (max-width: 300px) {
   span.psw {
      display: block;
      float: none;
   }
   .cancelbtn {
      width: 100%;
   }
 }
 .sec{
    position: relative;
    padding: 100px;
    margin-bottom: 10px;
    background: #1c0522;
 }
 .sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
 }
 .sec p{
    font-size: 1em;
    color: #fff;
 }
  .text span{
    display: inline-block;
   }
   .launch-time{
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .launch-time div{
      width: 128px;
      height: 120px;
      margin: 15px;
      background: rgb(255, 0, 106);
        flex-basis: 120px;
        text-align: center;
        border-radius: 20px;
    }
    .launch-time div p{
        /* background: red;
        margin: 5px; */
        font-size: 60px;
        margin-bottom: 14px;
    }
    .rainy{
        font-size: 28px;
        color: #fff;
       font-weight: 700;
    }
    .heart{
        margin-top: 28px;
        width: 80px;
        height: 80px;
        background: red;
        display: flex;
        position:relative;
        transform: rotate(-45deg);
        box-shadow: -10px 10px 90px red;
        animation: heart 0.6s linear infinite;
    }
    @keyframes heart{
        0%{
            transform: rotate(-45deg) scale(1.08);
        }
        80%{
            transform: rotate(-45deg) scale(1.0);
        }
        100%{
            transform: rotate(-45deg) scale(0.8);
        }
    }
    .heart:before{
        content:'';
        width: 80px;
        height: 80px;
        background: red;
        position:absolute;
        top: -50%;
        border-radius: 50px;
        transform: rotate(-45deg);
        box-shadow: -10px 10px 90px red;
    }
    .heart:after{
        content:'';
        width: 80px;
        height: 80px;
        background: red;
        position:absolute;
        right: -50%;
        border-radius: 50px;
        transform: rotate(-45deg);
        box-shadow: -10px 10px 90px red;
    }
